@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html,div,p,a {
		font-family: "Roboto", sans-serif;
	}
}

body {
	margin: 0;
}

.ql-editor {
	height: 300px !important;
}

.ant-form-item-has-error .quill#description {
	border: 1px solid #ff4d4f;
}

.ant-form-item-has-error .ql-toolbar.ql-snow {
	border-left: none;
	border-right: none;
	border-top: none;
}

.ant-form-item-has-error .ql-container.ql-snow {
	border: none;
}

.ql-container.ql-snow {
	background-color: white;
}

.ql-toolbar.ql-snow {
	background-color: white;
}
