@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html,div,p,a {
		font-family: "Roboto", sans-serif;
	}
}

body {
	margin: 0;
}

.ql-editor {
	height: 300px !important;
}
